.login-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background-color: whitesmoke;
  position: absolute;
}
.actions {
  width: 80%;
  z-index: 1;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
  
.action {
  right: -28px;
}
i{
  cursor: pointer;
  font-size: 2.5em;
}
.back-card {
  height: 8px;
  margin-bottom: 0;
  width: 75%;
}
.login input:focus {
  border-bottom: 1px solid #387ef5 !important;
}
.signup input:focus {
  border-bottom: 1px solid #32db64 !important;
}
.login-wrapper .card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #FFF;
  box-shadow: 0px 0px 10px #C5C5C5;
}
.item-button {
  padding: 0 2.5em;
  height: 34px;
}
